Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
django-encrypted-model-fields
Pillow
easyocr
cloudinary
django-cloudinary-storage
requests
beautifulsoup4
plaid-python
bitcoin
blockcypher
pycoin
ably
redis
celery
django-celery-beat
dj_database_url
django-filter
psycopg2-binary
qrcode[pil]
pyotp
gunicorn
whitenoise
django-anymail[mailgun]
