Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
django-encrypted-model-fields
Pillow
easyocr
cloudinary
django-cloudinary-storage
requests
beautifulsoup4
plaid-python
bitcoin
blockcypher
pycoin
python-socketio
aiohttp
python-engineio
aioredis
redis
celery
django-celery-beat